<!DOCTYPE html>
<html>
<head>
    <title>Gráficos FFT</title>
</head>
<body>
    <div id="attachment-upload-modal" class="modal modal-slide-in fade">
        <div class="modal-dialog modal-dialog-scrollable sidebar-lg">
            <!-- spinner -->
            <form id="form-attachment-upload-modal" class="modal-content pt-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="attachmentsUploadModalLabel">Attachments <span class="text-danger" id="error-message"></span></h5>
                </div>
                <div class="modal-body flex-grow-1">
    
                    <div id="file-attachments" class="row hidden">
                        <div class="col-12">
                            <input id="filesToUpload" type="file" name="files" accept=".jpg, .png, .pdf, .xlsx, .xls, .csv" multiple>
                        </div>
                    </div>
    
                    <div id="url-attachments" class="row hidden">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i data-feather="link-2"></i></span>
                            </div>
                            <input type="text" id="urlToUpload" class="form-control required" placeholder="https://www..." required >
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="upload" class="btn btn-sm btn-success mr-1">Upload</button>
                    <button type="button" id="cancel" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div> 
    
    <div class="modal fade text-left" id="attachment-upload-modal" tabindex="-1" role="dialog" aria-labelledby="attachmentsUploadModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="attachmentsUploadModalLabel">Attachments <span class="text-danger" id="error-message"></span></h5>
                </div>
                <form id="form-attachment-upload-modal" class="modal-content pt-0">
                    <div class="modal-body">
                        <div id="file-attachments" class="row hidden">
                            <div class="col-12">
                                <input id="filesToUpload" type="file" name="files" accept=".jpg, .png, .pdf, .xlsx, .xls, .csv" multiple>
                            </div>
                        </div>
    
                        <div id="url-attachments" class="row hidden">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i data-feather="link-2"></i></span>
                                </div>
                                <input type="text" id="urlToUpload" class="form-control required" placeholder="https://www..." required >
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="upload" class="btn btn-sm btn-success mr-1">Upload</button>
                        <button type="button" id="cancel" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% comment %}     <h2>Espectro de frecuencia RX</h2>
    <img src="data:image/png;base64,{{ image_base64 }}" alt="Espectro de frecuencia RX">

    <h2>Espectro de frecuencia TX</h2>|
    <img src="data:image/png;base64,{{ image_base64 }}" alt="Espectro de frecuencia TX"> {% endcomment %}
</body>
</html>