{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafica</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<Main>

    <div class="title">
        <h1>Gráfico</h1>
    </div>

    <div class="info" >
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
            </div>
        
        <div class="infolabel">
        <h2 class="label">Rx</h2>
        <div class="infosquare"> 
            <div id="data"> <h3>20u</h3></div>
              <div class="labeldata"><h5>Fq</h5></div>
        </div>

        </div>
    </div>
    <!-- <div class="values">

        <span class="Fq"> <h4>Fq</h4> </span>

        <div class="square"></div>
        <div class="square"></div>
    </div>  -->
    <div class="graphic">
        <canvas id="myAreaChart" style="height: 300px; width: 100%;"></canvas>
        <script src="{% static 'grafico.js' %}"></script>
    </div>

</Main>

    <button id="start"> Start</button>

<footer> 
    <span>Copyright &copy; Tu gráfico 2023</span>
</footer>
</body>
</html>